@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

/*Slogan*/
#company-slogan{
    background-color: var(--secondary);
    color: var(--primary-text-color);
    height: 200px;
    min-width: 900px;
}
#company-slogan h1, #company-slogan p{
    text-align: center;
}
#company-slogan h1{
    animation: OpacityShift;
    animation-duration: 3s;
    animation-play-state: running;
    animation-iteration-count: infinite;
}
#company-slogan .container{
    width: 800px;
    height: 150px;
    margin: 0 auto;
}
#company-slogan .header{
    width: 400px;
    height: 100px;
    margin: 0 auto;
}
/*Nested Hosting Introduction*/
#nested-hosting{
    min-width: 900px;
    background-color: var(--primary);
    color: var(--secondary-text-color);
    height: 1200px;
}
#nested-hosting .company-introduction{
    display: flex;
    justify-content: space-evenly;
}
#nested-hosting .company-introduction div{
    margin: 5%;
}
#nested-hosting .how-it-works p{
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: var(--desktop-text-font-size);
}
#nested-hosting .flex-text{
    display: flex;
}
#nested-hosting .flex-text button{
    padding: 10px;
    min-width: 100px;
    border-radius: 10px;
    background-color: lightblue;
    color: black;
}
#nested-hosting .text{
    background-color: var(--secondary);
    border-radius: 10px;
    padding: 20px;
}
#nested-hosting .text h1{
    color: lightblue;
}
#nested-hosting .text p{
    color: white;
}
#nested-hosting .hosting-example{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
    border-radius: 25px;
    background-color: var(--secondary);
}
#nested-hosting .hosting-example h1{
    color: lightblue;
}
#nested-hosting .hosting-example p{
    font-size: var(--desktop-text-font-size);
    margin-top: 20px;
    margin-bottom: 40px;
    color: white;
}
#nested-hosting .hosting-example img{
    border-radius: 25px;
}
#nested-hosting .hosting-example button{
    padding: 10px;
    border-radius: 10px;
    background-color: lightblue;
    color: black;
    margin-top: 10px;
    max-width: 150px;
}
/*nested-hosting selectors*/
#nested-hosting .flex-text button:hover, .hosting-example button:hover{
    opacity: 0.75;
}
/*Animation*/
@keyframes OpacityShift{
    from{
        opacity: 1;
    }
    to{
        opacity: 0.5;
    }
}
/*Smaller Desktop Res*/
@media only screen and (max-width: 1800px){
    #company-slogan p{
        font-size: var(--mobile-text-font-size);
    }
    #nested-hosting{
        height: 2200px;
    }
    #nested-hosting .company-introduction{
        flex-direction: column;
        align-items: center;
    }
    #nested-hosting .company-introduction p{
        font-size: var(--mobile-text-font-size);
    }
    #nested-hosting button{
        font-size: 20px;
    }
}